div.floating-panel {
    position: fixed;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: #e3f2fd;
    height: auto;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: .3em;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

div.floating-panel-min {
    width: 10em;
}

div.floating-panel-max {
    width: 20em;
}

div.floating-panel-title {
    background: #2962ff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: .3em .3em 0 0;
    margin-bottom: 3px;
    color: white;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: move;
}

div.floating-panel-content {
    padding: 1em;
}

div.floating-panel-expand {
    width: 1em;
}