svg {
    width: 99vw;
    height: 99vh;
    overflow: hidden;
}

.link {
    stroke:#cac4ce;
    stroke-width: 3px;
}
  
.node text {
    stroke:#242038;
    cursor: pointer;
}
  
.node circle{
    stroke:#8d86c9;
    stroke-width:3px;
    fill:#725ac1;
    cursor: pointer;
    box-shadow: 2px 2px 2px 10px rgba(255, 255, 255, 0.5);
}