:root {
    --node: var(--secondary);
    --path: var(--primary);
}

svg {
    height: 100%;
    overflow: hidden;
}

line {
    stroke: var(--node);
}

#arrow {
    fill: var(--node);
}

.node text {
    stroke: black;
    cursor: pointer;
}

.node circle {
    fill: var(--node);
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.node circle:hover {
    transform: scale(2, 2);
}

.node circle:active {
    transform: scale(1.8, 1.8);
}

.expanded {
    transform: scale(2, 2);
}

line.path {
    stroke: var(--path);
}

circle.path {
    transform: scale(2, 2);
    fill: var(--path);
}

#path-arrow {
    fill: var(--path);
}