.App {
    text-align: center;
    background: white;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    width: .3em;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

div.list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 50vh;
}

input {
    box-sizing: border-box;
    border: 1px solid #777;
    width: 100%;
    font-family: inherit;
    font-size: smaller;
    font-weight: bold;
    background: white;
    border-radius: .1em;
    margin: .3em;
    padding: .5em;
}

input:focus {
    outline: none;
    border-bottom: .1em solid black;
}

input::selection {
    background: #81d4fa;
}

input::-moz-selection {
    background: #81d4fa;
}

select {
    box-sizing: border-box;
    border: 1px solid #777;
    width: 100%;
    font-family: inherit;
    font-size: smaller;
    font-weight: bold;
    background: white;
    border-radius: .1em;
    margin: .3em;
    padding: .5em;
}

select:focus {
    outline: none;
}

.action {
    background: transparent;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

.action:hover {
    color: #FF4081;
}

.action:active {
    transform: scale(.8);
}