:root {
    --primary: #2962ff;
    --primary-lighter: #81d4fa;
    --primary-lightest: #e3f2fd;
    --secondary: #ff4081;
}

.App {
    text-align: center;
    background: white;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    width: .3em;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

div.list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 50vh;
}

input[type=text], select {
    box-sizing: border-box;
    border: 1px solid #777;
    width: 100%;
    font-family: inherit;
    font-size: smaller;
    font-weight: bold;
    background: white;
    border-radius: .1em;
    margin: .3em;
    padding: .5em;
}

input[type=text]:focus, select:focus {
    outline: none;
}

input[type=text]:focus {
    border-bottom: 1px solid black;
}

input[type=text]::selection {
    background: var(--primary-lighter);
}

input[type=text]::-moz-selection {
    background: var(--primary-lighter);
}

input[type=range] {
    /* -webkit-appearance: none; */
    width: 100%;
}

.action {
    background: transparent;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

.action:hover {
    color: var(--secondary);
}

.action:active {
    transform: scale(.8);
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
}

div[disabled] {
    pointer-events: none;
    opacity: 0.25;
}