.App {
    text-align: center;
    background: white;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

div.nodes {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 30vh;
}

div.node {
    display: flex;
    text-align: center;
}